<!-- 
<form>
  <div class="form-group"> -->
<!-- <input name="name" ngModel required #name="nam"> -->
<!-- <input class="form-control" type="text" name="roomType" [(ngModel)]="name" placeholder="Room Type" /> -->
<!-- </div> -->
<!-- 
  <div class="form-group">
    <input class="form-control" type="text" name="amenities" [(ngModel)]="room?.amenities" placeholder="Amenities" />
  </div>

  <div class="form-group">
    <input class="form-control" type="number" name="price" [(ngModel)]="room?.price" placeholder="Price" />
  </div>

  <div class="form-group">
    <input class="form-control" type="text" name="photos" [(ngModel)]="room.photos"
      placeholder="Photos (provide links)" />
  </div>

  <div class="form-group">
    <input class="form-control" type="datetime" name="checkintime" [(ngModel)]="room.checkinTime"
      placeholder="CheckInTime" />
  </div>

  <div class="form-group">
    <input class="form-control" type="datetime" name="checkouttime" [(ngModel)]="room.checkoutTIme"
      placeholder="CheckOutTime" />
  </div>

  <div class="form-group">
    <input class="form-control" type="number" name="rating" [(ngModel)]="room.rating" placeholder="Rating" />
  </div> -->

<!-- <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>

</form> -->