<div class="container">
    <div class="details">
        <app-title title="login"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <input-text [control]="fc['email']" [showErrorWhen]="isSubmitted" type="email" label="email">
            </input-text>

            <input-text [control]="fc['password']" [showErrorWhen]="isSubmitted" type="password" label="password">
            </input-text>

            <default-button text="Login"></default-button>
            <div class="login">
                New user? &nbsp;
                <a routerLink="/register" [queryParams]="{returnUrl: returnUrl}">Register Here</a>
            </div>
        </form>
    </div>
</div>