<!-- <div [hidden]="hideRooms">Number of rooms:
    <div [innerText]="numberOfRooms"></div>
</div> -->

<!-- {{rooms.availableRooms ?? 'No rooms'}} -->

<hinv-header></hinv-header>


<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button class="btn btn-secondary" (click)="addRoom()">AddRoom</button>
</div>

<div *ngIf="rooms?.availableRooms">
    <hinv-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>