{{bookingForm.value | json}}

<form [formGroup]="bookingForm" class="example-form" (ngSubmit)="addBooking()">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Guest Name</mat-label>
        <input type="text" matInput formControlName="guestName" placeholder="Guest Name">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
    </mat-error> -->
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="roomId" placeholder="RoomID">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose Checkin Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="checkinDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose Checkout Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="checkOutDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose Booking Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="bookingDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Guest bookingAmount</mat-label>
        <input type="text" matInput formControlName="bookingAmount" placeholder="Guest bookingAmount">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Guest mobileNumber</mat-label>
        <input type="text" matInput formControlName="mobileNumber" placeholder="Guest mobileNumber">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Guest Email</mat-label>
        <input type="text" matInput formControlName="guestEmail" placeholder="Guest Email">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error> -->
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Guest Count</mat-label>
        <input type="number" matInput formControlName="guestCount" placeholder="Guest Count"> -->
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error> -->
    <!-- </mat-form-field> -->

    <div formGroupName="guestAddress">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Address
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Guest Address</mat-label>
                    <input type="text" matInput formControlName="addressLine1" placeholder="Guest Address">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error> -->
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Guest City</mat-label>
                    <input type="text" matInput formControlName="city" placeholder="Guest City">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error> -->
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Guest State</mat-label>
                    <input type="text" matInput formControlName="state" placeholder="Guest State">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error> -->
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Guest Country</mat-label>
                    <input type="text" matInput formControlName="country" placeholder="Guest Country">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error> -->
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Guest Pincode</mat-label>
                    <input type="number" matInput formControlName="zipCode" placeholder="Guest Pincode">
                </mat-form-field>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <br />


    <div>
        <button mat-raised-button color="primary" type="button" (click)="addGuest()">Add Guest</button>
    </div>
    <br />

    <div formArrayName="guests">
        <div *ngFor="let guest from guests.controls; let i= index">
            {{guest}}
            <div [formGroupName]="i" ]>
                <mat-form-field class="example-full-width" appearance="fill">
                    <input type="text" matInput formControlName="guestName" placeholder="Guest Name">
                </mat-form-field>
            </div>
            <div [formGroupName]="i" ]>
                <mat-form-field class="example-full-width" appearance="fill">
                    <input type="number" matInput formControlName="age" placeholder="Guest Age">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="example-button-row">
        <button mat-raised-button color="primary">Book Room</button>
    </div>
</form>